/**
 * Created by PhpStorm.
 * User: NickBai
 * Email: 876337011@qq.com
 * Date: 2019/2/16
 * Time: 8:19 PM
 */
body{
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}
.service-header{
    width: 100%;
    height: 60px;
    background: #393D49;
}
.service-header div{
    float: left
}
.service-header .service-log{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.chat-system{
    padding: 8px 15px;
    background-color: #e2e2e2;
    border-radius: 3px;
    color: #333;
    word-break: break-all;
    font-size: 13px;
    cursor: pointer;
}
.service-header .service-log>img{
    width: 30px;
    height: 30px;
}
.service-header .service-title{
    height: 60px;
    width: 200px;
    color: #fff;
    line-height: 60px;
    text-align: left;
}
.service-header .service-info{
    width: 200px;
    height: 60px;
    float: right;
    line-height: 60px;
    text-align: center;
    color: #eee;
}
.service-header .service-info i{
    position: relative;
    top: 2px;
}
.service-header .login-out{
    float: right;
    position: relative;
    right: 20px;
    color: #01AAED;
    cursor: pointer;
}
.service-content{
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    background: #eee;
    top: 0;
    right: 0;
    overflow: auto;
}
.service-content .service-menu{
    height: 100%;
    background: #445163;
    color: #fff;
    position: relative;
    font-size: 12px;
}
.service-content .service-menu div{
    height: 48px;
    width: 100%;
    line-height: 48px;
    color: #eee;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.service-content .service-menu .active{
    background: #273142;
}
.service-content .service-menu .kefu-info{
    margin-top: 30px;
}
.service-content .service-menu .status{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 12px;
    left: -12px;
    border: 2px solid #273142;
}
.service-content .service-menu .status.online{
    background: #16c681;
}
.service-content .service-menu .status.out{
    background: #d8dde9;
}
.service-content .service-menu .user-status{
    position: relative;
}
.service-content .service-menu .now-chat{
    margin-top: 20px;
}
.service-content .service-menu .kefu-info img{
    width: 36px;
    height: 36px;
    overflow: hidden;
    background: #f6f6f9;
    border-radius: 100%;
}
.service-content .visitor-list{
    background-color: #fff;
    border-right: 1px solid #e6eaee;
    height: 100%;
    overflow: auto;
}
.service-content .visitor-list .visitor-card{
    padding: 12px;
    cursor: pointer;
}
.service-content .visitor-list .head-msg{
    width: 36px;
    height: 36px;
    background-color: #f6f6f9;
    vertical-align: top;
    margin-right: 12px;
    border-radius: 100%;
}
.visitor-card .msg .visitor-card-time{
    color: #bbbfc3;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.visitor-card>div[data-v-183056c7]{
    display: inline-block;
}
.visitor-card .msg{
    width: 76%;
    float: right;
}
.visitor-card.active, .visitor-card:hover {
    background-color: #eeeeee;
}
.visitor-card .msg .name{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.visitor-card .msg .count{
    display: inline-block;
    background-color: #ff5630;
    color: #fff;
    height: 12px;
    padding: 2px 7px 0;
    line-height: 12px;
    font-size: 10px;
    border-radius: 7px;
    position: absolute;
    right: 0;
}
.service-content .service-chat-box{
    border-right: 1px solid #e6eaee;
    height: 100%;
    overflow: auto;
}
.service-content .service-bar{
    background-color: #fff;
    height: 100%;
    overflow: auto;
}
.chat-container{
    padding: 0;
    width: 100%;
    height: 100%;
}
.chat-container .chat-header,.chat-container .chat-body{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%
}
.chat-container .chat-header{
    height: 40px;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
    z-index:1
}
.chat-container .chat-header>div{
    float: left;
    margin-left: 30px;
    line-height: 40px;
    cursor: pointer;
}
.chat-container .chat-body{
    top: 40px;
    bottom: 130px;
    background-color: #fcfcfc;
}
.chat-container .chat-body .chat-box{
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}
.chat-container .chat-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    background-color: #fff;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.04), 0 -2px 0 0 rgba(0,0,0,.01);
}
.clearfloat {
    zoom: 1;
    margin: 10px 10px;
}
.author-mine-name {
    text-align: right;
    margin: 15px 0 5px 5px;
    color: #888;
}
.author-other-name {
    text-align: left;
    margin: 15px 5px 5px 0;
    color: #888;
}
.small-chat-box .chat-date {
    opacity: .6;
    font-size: 10px;
    font-weight: 400;
}
.clearfloat .left .chat-avatars {
    margin-right: 10px;
}

.clearfloat .chat-avatars {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #eee;
    vertical-align: top;
    overflow: hidden;
}
.clearfloat .chat-avatars>img {
    width: 35px;
    height: 35px;
}
img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}
.clearfloat .chat-message {
    max-width: 500px;
    padding: 8px 12px;
    border-radius: 6px;
    word-wrap: break-word;
    display: inline-block;
    position: relative;
}
.clearfloat .left .chat-message {
    background: #e9f0ef;
    min-height: 14px;
}
.clearfloat .left .chat-message:before {
    border-right: 10px solid #e9f0ef;
}
.clearfloat .left .chat-message:before {
    position: absolute;
    content: "";
    top: 8px;
    left: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.clearfloat .right {
    text-align: right;
}
.clearfloat .right {
    float: right;
}
.clearfloat .right .chat-message {
    background: #01AAED;
    color: #fff;
    text-align: left;
    min-height: 14px;
    margin-right: 12px;
}
.clearfloat .right .chat-message:before {
    position: absolute;
    content: "";
    top: 6px;
    right: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #01AAED;
}
.chat-footer .text-holder {
    height: 90px;
}
.chat-footer .text-holder #textarea {
    display: block;
    width: 92%;
    height: 90px;
    padding: 8px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    word-break: break-all;
    font-size: 13px;
    line-height: 17px;
    -webkit-appearance: none;
}
.chat-footer .send-bar{
    height: 40px;
}
.chat-footer .send-bar div{
    float: left;
}
.chat-footer .send-bar .tool-box{
    height: 100%;
    width: 80%;
    line-height: 40px;
    text-align: left;
    position: relative;
    left: 10px;
}
.chat-footer .send-bar .tool-box i{
    margin-left: 10px;
    font-size: 20px;
    color: #c2c2c2;
    cursor: pointer;
}
.chat-footer .send-bar .send-btn-div{
    height: 100%;
    width: 20%;
}
.chat-footer .send-bar .send-btn-div .send-input{
    display: block;
    padding: 0;
    margin-top: 4px;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    border: 0;
    outline: none;
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #cfcfcf;
    cursor: pointer;
    text-align: center;
}
.chat-footer .send-bar .send-btn-div #sendBtn.active{
    background-color: #1E9FFF;
    color: #fff;
}
.layui-tab-title .layui-this {
    color:#1E9FFF
}
.message p{
    margin: 2px 0;
    line-height: 30px;
    white-space: nowrap;
}
.message label{
    font-size: 14px;
    color: #354052;
    margin-right: 10px;
    margin-left: 12px;
    display: inline-block;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.message .message-input{
    width: calc(100% - 78px);
    border-color: #f6f6f9;
    background: #fff;
    margin-left: -5px;
    border: none;
}
body .layui-whisper-face{
    border: none;
    background: none;
}
body .layui-whisper-face  .layui-layer-content{
    padding:0;
    background-color:#fff;
    color:#666;
    box-shadow:none
}
.layui-whisper-face .layui-layer-TipsG{
    display:none;
}
.layui-whisper-face ul{
    position:relative;
    width:372px;
    padding:10px;
    border:1px solid #D9D9D9;
    background-color:#fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.layui-whisper-face ul li{
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    height: 22px;
    width: 26px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}
.layui-whisper-face ul li:hover{
    position: relative;
    z-index: 2;
    border: 1px solid #eb7350;
    background: #fff9ec;
}
.layui-unselect .close{
    position: relative;
    top: -24px;
    left: 36px;
    color:#2F4056
}
.visitor-gray {
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: gray;
}
.group-users{
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
    margin-top: 10px
}
.group-users .user-info-left{
    float: left;
    width: 30%;
    height: 100%;
}
.group-users .user-info-left img{
    margin-left: 15px;
    height: 100%;
    padding-bottom: 5px
}
.group-users .user-info-left .user-name{
    margin-left: 20px
}
.group-users .online-info{
    line-height:60px;
    text-align: center
}
.group-users .online-info .online-dot{
    height: 10px;
    width: 10px;
    background-color:#3FDD86
}

.fly-zanzhu {
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #009688;
    color: #fff;
}